.link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
    display: inline;
    margin: 15px;
    padding: 0;
    text-decoration: none;
    vertical-align: middle;

}

.link-button:hover,
.link-button:focus {
    text-decoration: underline;
}